<section class="sidemenu-wrapper shadow" *ngIf="user !== null">
  <div class="userinfo-wrapper">
    <div class="userinfo shadow">
      <img
        [src]="
          user !== null
            ? fileService.getFileUrl(user.model, user.model.avatar)
            : '#'
        "
        class="user-avatar"
        alt="User Avatar"
      />
      <div class="user-name">
        <span>{{ user.model.name }}</span>
      </div>
    </div>
  </div>

  <div class="sidemenu-category-wrapper shadow" *ngFor="let category of routes">
    <span class="sidemenu-category-title">{{ category.label }}</span>
    <a
      *ngFor="let item of category.links"
      [routerLink]="'/' + item.path"
      [routerLinkActive]="['active-route']"
      class="sidemenu-link"
    >
      {{ item.label }}
    </a>
  </div>

  <div class="sidemenu-category-wrapper shadow">
    <a class="sidemenu-link" (click)="logout()"> Sign out </a>
  </div>
</section>
