<div class="body-wrapper">
  <div class="parent">
    <div class="card shadow transaction-form grid grid-50-50">
      <div class="form-group">
        <label class="form-label" for="date">Date</label>
        <input
          type="datetime-local"
          class="form-field shadow"
          id="date"
          name="date"
          [(ngModel)]="transaction.date"
          required
        />
      </div>

      <div class="form-group">
        <label class="form-label" for="value">Value</label>
        <input
          type="text"
          class="form-field shadow"
          id="value"
          name="value"
          style="text-align: right"
          [(ngModel)]="displayValue"
          (keyup)="formatValue()"
          autocomplete="off"
        />
      </div>

      <div class="form-group">
        <label for="form-label" for="account">Account</label>
        <select
          name="account"
          id="account"
          class="form-field shadow"
          [(ngModel)]="transaction.account"
          required
        >
          <option selected value="" disabled>Select your account</option>
          <option *ngFor="let op of accountsOptions" [value]="op.value">
            {{ op.label }}
          </option>
        </select>
      </div>

      <div class="form-group">
        <label for="form-label" for="account">Type</label>
        <select
          name="type"
          id="type"
          class="form-field shadow"
          [(ngModel)]="transaction.type"
          required
        >
          <option selected value="" disabled>Transaction type</option>
          <option *ngFor="let op of typesOptions" [value]="op.value">
            {{ op.label }}
          </option>
        </select>
      </div>

      <div></div>

      <div class="form-group">
        <button
          class="btn filter-btn btn-outline-success shadow"
          (click)="saveTransaction()"
        >
          Save
        </button>
      </div>
    </div>
    <div class="card shadow transaction-table">
      <app-table
        [columnData]="[
      {
        header: 'Date',
        key: 'date',
        format: 'date',
        width: 20,
      },
      {
        header: 'Type',
        key: 'type',
        expand: 'description',
        width: 40,
      },
      {
        header: 'Value',
        key: 'value',
        format: 'value',
        width: 20,
      },
      {
        header: 'Account',
        key: 'account',
        expand: 'name',
        width: 20,
      },
    ]"
        [service]="transactionService"
      ></app-table>
    </div>
  </div>
</div>
